<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Express React</title>
    <meta name="description" content="Boilerplate for React with Express.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (styles) { %>
      <link rel="stylesheet" type="text/css" href="<%= styles %>">
    <% } %>
    <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/1.1.1/polaris.css">
  </head>
  <body>
    <div id="root"></div>

    <script async src="<%= script %>"></script>
  </body>
</html>